# Nginx Proxy Manager does not require any environment variables when using
# its default SQLite database (stored on the npm_data named volume).
# All configuration is done through the admin UI at http://localhost:81.
#
# If you need MySQL/MariaDB instead of SQLite, set these vars:
#   DB_MYSQL_HOST=db
#   DB_MYSQL_PORT=3306
#   DB_MYSQL_USER=npm
#   DB_MYSQL_PASSWORD=npm
#   DB_MYSQL_NAME=npm
#
# If you need Postgres instead of SQLite, set these vars:
#   DB_POSTGRES_HOST=db
#   DB_POSTGRES_PORT=5432
#   DB_POSTGRES_USER=npm
#   DB_POSTGRES_PASSWORD=npmpass
#   DB_POSTGRES_NAME=npm
#
# See https://nginxproxymanager.com/setup/ for details.

TZ=UTC
